<section id="about">
  <div class="container">
    <h2>Jazzy Creations Story</h2>
    <div class="row">
      <div class="col s12 col m12 col l12">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi voluptatibus corrupti molestiae laborum perspiciatis fugiat, ullam, culpa eos eius non sunt nisi. Sint porro, nobis tempora, dolorum nam sit rem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, ut modi nostrum tenetur delectus, magni veniam provident necessitatibus natus rerum iure accusantium a. Incidunt, ducimus odit. Labore illum nisi molestias. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores suscipit ex, perferendis odit sapiente totam aspernatur assumenda veniam animi consectetur officiis et laborum voluptates quae, ducimus recusandae nulla velit ipsa.
        </p>
      </div>
    </div>
    
  </div>
</section>
