<h1>Cards</h1>
<% @cards.each do |card| %>
  <div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <%= image_tag(card.c_image) %>
          <span class="card-title"><%= link_to card.title, card %></span>
        </div>
        <div class="card-small">
          <div class="card-content">
            <p><%= card.description %></p>
          </div>
        </div>
        <div class="card-action">
          <%= link_to 'Share', card %>
        </div>
      </div>
    </div>
  </div>
<% end %>
